<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SuperContacts"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name="com.gernalix.personalhub.shortcut.PeopleShortcutActivity"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="module" android:path="/people" android:scheme="personalhub" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".CallStateReceiver"
            android:exported="true"
            android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".CallOverlayDebugReceiver"
            android:enabled="@bool/debug_call_overlay_receiver_enabled"
            android:exported="false" />
    </application>
</manifest>
